env/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as long as they aren't
# included in the source distribution, there should be no harm in them
# being here.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
*.log
nosetests.xml
test-results/
pytest-debug.log
pytest.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# pyre type checker
.pyre/

# pydev
.pydevproject

# VS Code settings
.vscode/

# Rope project settings
.ropeproject/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# virtualenv
venv/
ENV/
env.bak/
venv.bak/
env/

site/